.blog-details {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .person-blog-card {
    max-width: 800px;
    width: 100%;
    margin: auto;
    /* margin-top:10px; */
    height:auto;
  }
  
  .person-thumbnail {
    height: auto;
    width: 100%;
    max-height: 300px; /* Limit the height to avoid large images */
    object-fit: cover; /* Ensure the image scales properly and maintains aspect ratio */
  }
  