.hotel-cards-container {
    overflow-x: auto;
    display: flex;
    padding: 20px;
    scrollbar-width:none;
    cursor: pointer;
  }
  
  .hotel-cards-container .row {
    flex-wrap: nowrap;
  }
  
  .hotel-card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .hotel-image {
    height: 200px;
    object-fit:cover;
  }
  @media (max-width: 576px) {
    .hotel-card {
      margin-bottom: 10px; 
      width: calc(100% / 3 - 10px); 
    }
  
    .hotel-cards-container {
      padding: 10px; 
      gap:10px;
      flex: 0 0 auto;
    }
  }
  
 
  